body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #12181f;
    color: white;
}

p {
    padding-top: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: #12181f;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.mini-logo {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 40%;
}

.header {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.column {
    padding-top: 10px;
    float: left;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #6600cc;
    color: white;
    margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.grid-container {
    padding-top: 5%;
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, calc(90px / 2 * 3));
}

.card {
    height: calc(90px / 2 * 3);
    width: 90px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.282' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23161414ff'/><path d='M34.641-20v80m34.64-40L0-20m69.282 80L0 20m69.282 0L0 60m69.282-80L0 20m69.282-40v80M0-20v80M34.64 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 0l11.547-20M57.735 0l11.547 20M34.642 0h23.093m11.547-20L57.735 0M46.188-20L34.641 0l11.547 20h23.094L80.83 0 69.282-20H46.188zM34.641 40L23.094 20M11.547 40L0 60m34.64-20H11.548M0 20l11.547 20m11.547-20l11.547 20-11.547 20H0l-11.547-20L0 20h23.094zM34.641 0L23.094-20M11.547 0L0 20M34.64 0H11.548M0-20L11.547 0m11.547-20L34.641 0 23.094 20H0L-11.547 0 0-20h23.094z'  stroke-width='1' stroke='%23805ad5ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.actions button:hover {
    background-color: #a06fd1;
    color: white;
}

#nameModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
    width: 60%;
    background-color: #a06fd1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

.player span {
    font-weight: bold;
}